{% extends 'blog/base.html' %} {% block title %} {{ article.title}} {% endblock %} {% block content %}
<h3><a href="{% url 'article' article.id %}"> {{ article.title }}</a></h3>
<hr>
<div class="well">
    {{ article.text|safe }}
</div>
<hr>
<ul class="breadcrumb">
    <em><span class="glyphicon glyphicon-user"></span> Автор: {{ article.user|safe }}</em>
    <br>
    <em><span class="glyphicon glyphicon-calendar"></span> Дата публикации: {{ article.datetime }}</em>
</ul>
<hr>
<p>
    {% load disqus_tags %} {% set_disqus_identifier post.id %} {% set_disqus_url post.get_absolute_url %} {% disqus_dev %} {% disqus_show_comments %}
</p>
{% endblock %}