<hr>
<footer>
<!--
    <div class="row" align="center">
        <div class="col-sm-2 col-md-2 col-md-offset-2">
            <div class="thumbnail">
                <img src="https://vignette3.wikia.nocookie.net/lego/images/a/ac/No-Image-Basic.png/revision/latest/scale-to-width-down/480?cb=20130819001030" width="60" height="60">
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="https://vignette3.wikia.nocookie.net/lego/images/a/ac/No-Image-Basic.png/revision/latest/scale-to-width-down/480?cb=20130819001030" width="60" height="60">
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="https://vignette3.wikia.nocookie.net/lego/images/a/ac/No-Image-Basic.png/revision/latest/scale-to-width-down/480?cb=20130819001030" width="60" height="60">
            </div>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="https://vignette3.wikia.nocookie.net/lego/images/a/ac/No-Image-Basic.png/revision/latest/scale-to-width-down/480?cb=20130819001030" width="60" height="60">
            </div>
        </div>
    </div>
    -->
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                    </li>
                </ul>
                <p align="center" class="copyright text-muted">Copyright &copy; Tapok 2017</p>
            </div>
        </div>
    </div>
</footer>