{% extends 'blog/base.html' %} {% block content %} {% if form.errors %} {% block title %} Авторизация {% endblock %}
<div class="alert alert-danger">
    <p>Имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
</div>
{% endif %}
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Авторизация</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"></a></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form method="post" action="{% url 'login' %}" id="loginform" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> {{ form.username }}
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> {{ form.password }}
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-4 controls">
                            <input class="btn btn-success btn-sm" type="submit" value="login" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}