{% block content %}
<div class="col-md-2">
  <div id="sidebar-wrapper" class="sidebar-toggle">
      <ul class="sidebar-nav">
          <li>
              <a href="#item1">Item 1</a>
          </li>
          <li>
              <a href="#item2">Item 2</a>
          </li>
          <li>
              <a href="#item3">Item 3</a>
          </li>
        </ul>
    </div>
  </div>
  {% endblock %}

